* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: courier, sans-serif, monospace;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

.intro {
  width: 100%;
  height: 100%;
  margin: 20px;
  justify-content: center;
  text-align: center;
}

.intro h1 {
  margin: 20px;
  font-size: 75px;
  color: rgb(32, 6, 226);
}

.intro p {
  margin: 20px;
  font-size: x-large;
  padding: 25px;
  font-weight: 400;
}

.start-btn {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.start-btn:hover {
  background-color: rgb(0, 10, 64);
}

.highscores {
  width: 100%;
  height: 100%;
  margin: 20px;
  font-size: large;
  font-weight: 600;
  justify-content: left;
  text-align: left;
  cursor: pointer;
  color: red;
}

.highscoresBtn {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.highscoresBtn:hover {
  background-color: rgb(0, 10, 64);
}

.time {
  width: 100%;
  height: 100%;
  margin: 20px;
  font-size: medium;
  font-weight: 500;
  justify-content: left;
  text-align: left;
}

.seconds {
  width: 100%;
  height: 100%;
  margin: 20px;
  justify-content: left;
  text-align: left;
}

.h1 {
  width: 100%;
  height: 100%;
  margin: 50px;
  font-size: xx-large;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.submit1 {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.submit1:hover {
  background-color: rgb(0, 10, 64);
}

.endQuiz {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.endQuiz:hover {
  background-color: rgb(0, 10, 64);
}

.submit2 {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.submit2:hover {
  background-color: rgb(0, 10, 64);
}

.submit3 {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.submit3:hover {
  background-color: rgb(0, 10, 64);
}

.submit4 {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.submit4:hover {
  background-color: rgb(0, 10, 64);
}

.hidden {
  display: none;
}

.answers {
  font-size: 25px;
}

.outtro {
  width: 100%;
  height: 100%;
  margin: 20px;
  justify-content: center;
  text-align: center;
}

.outtro h1 {
  margin: 20px;
  font-size: 75px;
  color: rgb(32, 6, 226);
}

.outtro p {
  margin: 20px;
  font-size: x-large;
  padding: 25px;
  font-weight: 400;
}

.highscoresbtn {
  margin: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 38px;
  background-color: rgb(32, 6, 226);
  color: white;
  cursor: pointer;
}

.highscoresbtn:hover {
  background-color: rgb(0, 10, 64);
}

.q1 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.q2 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.q3 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.q4 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.q5 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
} 